---
const numRectangles = 10;
const colors = ['green', 'blue', 'red', 'blue', 'red', 'blue', 'green',];
---

<div class="relative w-screen h-screen overflow-hidden" style={`--rectangle-width: ${100 / numRectangles}%`}>
  <div class="flex h-full">
    {Array.from({ length: numRectangles }).map((_, index) => (
      <div class={`bg-${colors[index % colors.length]}-500 w-spineWidth hover:w-hSpineWidth transition-all duration-400 ease-in-out`}></div>
    ))}
  </div>
</div>